body {
  margin: 0;
  font-family: "Work Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 0.5rem;
}

#navbar {
  width: 100%;
  height: 38px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.44);
  padding: 6px;
}

#desktop_nav_links {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#desktop_nav_links li {
  list-style: none;
}

#desktop_nav_links li a {
  color: black;
  text-decoration: none;
  letter-spacing: 5px;
}

.container {
  padding: 20px;
  max-width: 20%;
  max-height: 70%;
  border: 1px solid rgba(0, 0, 0, 0.44);
  border-radius: 10px;
}

.container_title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.44);
}

.project_img {
  width: 100%;
  margin-top: 10px;
}

.project_links {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.44);
  text-align: center;
}

.project_links a {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: black;
}
