body {
  margin: 0;
  height: 100vh;
}

.img-container {
  animation: transición;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

#img2prueba {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@keyframes transición {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
