body {
  margin: 0;
  font-family: "Work Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  margin: 40px;
  max-width: 415px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}

#welcome {
  text-shadow: 10px 10px 30px rgb(160, 160, 160);
}

#navbar {
  width: 100%;
  height: 38px;
  border: 1px solid rgba(0, 0, 0, 0.44);
  padding: 6px;
}

#menu {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.44);
}

#menu:active {
  background-color: black;
  color: white;
}

#Presentation {
  margin: 0 50px 0 50px;
  text-align: center;
}
