body {
  margin: 0;
  font-family: "Work Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

#mobile {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#mobile_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

h1 {
  text-align: center;
}

#welcome {
  text-shadow: 10px 10px 30px rgb(160, 160, 160);
}

#navbar {
  width: 100%;
  height: 38px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.44);
  padding: 6px;
}

#menu {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.44);
}

#menu:active {
  background-color: rgba(0, 0, 0, 0.138);
  color: white;
}

#Presentation {
  margin: 0 50px 0 50px;
  text-align: center;
}

#nav_links {
  display: none;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.44);
}

#nav_links ul {
  margin: 0;
  padding: 0;
}

#nav_links ul li {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.44);
}

#nav_links:target {
  display: inline;
}

@media screen and (max-width: 425px) {
  #desktop {
    display: none;
  }

  #desktop_nav_links {
    display: none;
  }
}

@media screen and (min-width: 426px) {
  #mobile {
    display: none;
  }

  #navbar {
    display: none;
  }

  #desktop {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.44);
    width: 60vw;
    height: 70vh;
  }

  #navbar_desktop {
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    height: 9%;
  }

  #desktop_links {
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  li {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .desktop_link {
    width: 100%;
    height: 100%;
    text-align: center;
    letter-spacing: 2px;
  }

  .desktop_link:hover {
    background-color: rgba(0, 0, 0, 0.138);
    cursor: pointer;
  }
}
