body {
  margin: 0;
  font-family: "Work Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

#mobile {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#mobile_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

h1 {
  text-align: center;
}

#welcome {
  text-shadow: 10px 10px 30px rgb(160, 160, 160);
}

#navbar {
  width: 100%;
  height: 38px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.44);
  padding: 6px;
}

#menu {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.44);
}

#menu:active {
  background-color: rgba(0, 0, 0, 0.138);
  color: white;
}

#Presentation {
  margin: 0 50px 0 50px;
  text-align: center;
}

#nav_links {
  display: none;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.44);
}

#nav_links ul {
  margin: 0;
  padding: 0;
}

#nav_links ul li {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.44);
}

#nav_links:target {
  display: inline;
}

@media screen and (max-width: 425px) {
  #desktop {
    display: none;
  }

  #desktop_nav_links {
    display: none;
  }
}

@media screen and (min-width: 426px) {
  body {
    background-color: black;
  }

  #mobile {
    display: none;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.652);
  }

  #menu {
    display: none;
  }

  #desktop {
    display: inline;
  }

  #desktop_nav_links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #desktop_nav_links li {
    list-style: none;
  }

  #desktop_nav_links li a {
    color: white;
    opacity: 65%;
    transition: opacity 0.8s;
  }

  #desktop_nav_links li a:hover {
    opacity: 100%;
  }
}
