body {
  margin: 0;
  font-family: "Work Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  margin: 40px;
  max-width: 415px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-align: center;
}

li a {
  margin: 10px;
  padding: 0 190px 0 190px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.44);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}

#welcome {
  text-shadow: 10px 10px 30px rgb(160, 160, 160);
}

#navbar {
  width: 100%;
  height: 38px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.44);
  padding: 6px;
}

#menu {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.44);
}

#menu:active {
  background-color: black;
  color: white;
}

#Presentation {
  margin: 0 50px 0 50px;
  text-align: center;
}

#links {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.44);
}

#nav_links {
  display: none;
}

#nav_links:target {
  display: block;
}
