/*Initial body styling*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300&display=swap");

body {
  margin: 20px;
  font-family: "Work Sans";
  border: solid 1px #64646462;
}

/*Header styles*/
#head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #64646462;
}

#head > h1 {
  font-size: 3em;
  opacity: 50%;
  padding: 0px 20px 0px 20px;
}

#subhead {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #64646462;
}

#subhead > h2 {
  padding: 0px 10px 0px 10px;
  opacity: 50%;
  margin: 12px 6px;
}

/*Main styles*/
main {
  display: flex;
  flex-direction: row;
}

#content {
  display: flex;
  flex-direction: row;
}

/*Accordion styles*/
.accordion_item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid #64646462;
}

.accordion_item > a {
  width: 100%;
  white-space: nowrap;
  padding: 4vh 5vw;
  text-decoration: none;
  color: #000000;
  font-size: 1.4em;
  opacity: 50%;
  text-align: center;
  line-height: 50%;
  background-color: #ffffff00;
  transition: opacity 0.7s, background-color 0.7s;
}

.accordion_item > a:hover {
  opacity: 100%;
  background-color: #ebebeb;
}

/*Answer styles*/
.answer {
  box-shadow: 1px 1px 60px gray;
  border-left: 1px solid #64646462;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: width 0.5s, height 0.5s, opacity 0.5s;
}

.answer > p {
  padding: 30px;
}

#content:target .answer {
  width: 40vw;
  height: 77vh;
  opacity: 100%;
  overflow: scroll;
}

#close {
  text-align: end;
  padding: 15px;
  border-bottom: 1px solid #64646462;
}

#close > a {
  color: #000000;
  opacity: 50%;
  transition: opacity 0.5s;
}

#close > a:hover {
  opacity: 100%;
}

#close:target .answer {
  width: 0;
  height: 0;
  opacity: 0;
}

.project {
  padding: 30px;
  border-bottom: 1px solid #64646462;
}

.project > img {
  max-width: 100%;
}

#project_links {
  display: flex;
  justify-content: space-around;
  border: 1px solid #64646462;
}

#project_links > a {
  text-decoration: none;
  color: #000000;
  opacity: 50%;
  margin: 1vh 0px;
  transition: opacity 0.5s;
}

#project_links > a:hover {
  opacity: 100%;
}

/*Personal image styles*/
#welcome {
  border-left: 1px solid #64646462;
  width: 100%;
  height: 77vh;
  background-image: url("/src/imgs/img_portafolio_1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: right bottom;
}

/*Media Queries*/
@media screen and (max-width: 2560px) {
  #welcome {
    background-size: 82.1%;
    background-position: right bottom;
  }
}

@media screen and (max-width: 1440px) {
  #welcome {
    background-size: 84.5%;
    background-position: right 90.5%;
  }
}

@media screen and (max-width: 1024px) {
  #head > h1 {
    font-size: 2em;
  }

  #subhead > h2 {
    font-size: 1em;
  }

  .accordion_item > a {
    font-size: 1.5vw;
    padding: 3vh 3.5vw;
  }

  .project > h3 {
    font-size: 1.5vw;
  }

  .project > p {
    font-size: 1.2vw;
  }

  #project_links > a {
    font-size: 0.7em;
  }

  #close {
    padding: 5px;
  }

  #welcome {
    background-position: right 38%;
  }
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  #welcome {
    border-left: 0;
    background-size: contain;
    background-attachment: local;
    background-position: top;
  }

  .accordion_item > a {
    font-size: 2.5vw;
    padding: 3vh 38.1vw;
  }

  #content {
    flex-direction: column;
  }

  .answer {
    width: 100%;
  }

  #content:target .answer {
    width: 100%;
    height: 100%;
    opacity: 100%;
    overflow: visible;
  }

  .project > h3 {
    font-size: 1.7em;
  }

  .project > p {
    font-size: 1.1em;
  }

  #project_links > a {
    font-size: 1em;
  }
}

@media screen and (width: 425px) {
  .accordion_item > a {
    font-size: 1.5em;
    padding: 3vh 20vw;
  }

  #welcome {
    height: 24.5vh;
  }
}

@media screen and (width: 375px) {
  #head > h1 {
    font-size: 1.7em;
  }

  .accordion_item > a {
    font-size: 1.5em;
    padding: 3vh 20vw;
  }

  #welcome {
    height: 21.3vh;
  }
}

@media screen and (width: 320px) {
  #head > h1 {
    font-size: 1.3em;
    padding: 0px 10px 0px 10px;
  }

  #subhead > h2 {
    font-size: 0.8em;
    padding: 0px 1px 0px 1px;
  }

  .accordion_item > a {
    font-size: 1.5em;
    padding: 3vh 17vw;
  }

  #project_links > a {
    text-align: center;
  }

  #welcome {
    height: 17.8vh;
  }
}
