@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300&display=swap');

body {
    margin: 20px;
    font-family: "Work Sans";
    border : solid 1px #64646462;
}

#head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #64646462;
}

#head>h1 {
    font-size: 3em;
    opacity: 50%;
    padding: 0px 20px 0px 20px;
}

#subhead {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #64646462;
}

#subhead>h2 {
    padding: 0px 10px 0px 10px;
    opacity: 50%;
    margin: 12px 6px;
}

main {
    display: flex;
    flex-direction: row;
}

#content {
    display: flex;
    flex-direction: row;
}

.accordion_item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid #64646462;
}

.accordion_item>a {
    width: 100%;
    white-space: nowrap;
    padding: 40px 100px;
    text-decoration: none;
    color: #000000;
    font-size: 1.4em;
    opacity: 50%;
    text-align: center;
    line-height: 50%;
    background-color: #ffffff00;
    transition: opacity 0.7s, background-color 0.7s;
}

.accordion_item>a:hover {
    opacity: 100%;
    background-color: #ebebeb;
}

.answer {
    border-left: 1px solid #64646462;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
}

.answer>p {
    padding: 30px;
}

#content:target .answer {
    width: 800px;
    height: 77vh;
    opacity: 100%;
    overflow: scroll;
}

#welcome {
    border-left: 1px solid #64646462;
    width: 100%;
    height: 77vh;
    background-image: url("/src/imgs/foto_de_cesar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#close {
    text-align: end;
    padding: 15px;
    border-bottom: 1px solid #64646462;
}

#close>a {
    color: #000000;
    opacity: 50%;
    transition: opacity 0.5s;
}

#close>a:hover {
    opacity: 100%;
}

#close:target .answer {
    width: 0;
    height: 0;
    opacity: 0;
}

.project {
    padding: 30px;
    border-bottom: 1px solid #64646462;
}

.project>img {
    max-width: 100%;
}

#project_links {
    display: flex;
    justify-content: space-around;
    border: 1px solid #64646462;
}

#project_links>a {
    text-decoration: none;
    color:#000000;
    opacity: 50%;
    margin: 10px 0px;
    transition: opacity 0.5s;
}

#project_links>a:hover {
    opacity: 100%;
}